<h4>message_id: <%= user_transaction.message_id %></h4>
<h4>product_name: <%= user_transaction.product_name %></h4>
<h4>product_price: <%= user_transaction.product_price.to_f %></h4>
<h4>seller_name: <%= user_transaction.seller_name %></h4>
<h4>date: <%= user_transaction.date %></h4>
<br>
